* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fontColor: #e82c0c;
  --bgColor: #e82c0c;
  --bgColor2: #333;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}

/* Header */

header {
  position: relative;
  height: 100vh;
  background: url(../img/bg.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: left center;
}

.burger {
  position: fixed;
  top: 2%;
  right: 5%;
  font-size: 40px;
  z-index: 3;
  color: white;
}

i.off {
  display: none;
}

.fa-angle-up {
  color: white;
}

.menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 45vh;
  background-color: #000;
  transition: 0.5s;
  z-index: 2;
}

.container-items {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  flex-basis: 40%;
  list-style: none;
}

.container-items li {
  width: 100%;
  text-align: center;
}

.container-items li a {
  display: block;
  padding: 20px 0;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.container-items li a:hover {
  background-color: red;
}

.menu.off {
  top: -45vh;
}

.photo {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.photo img {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  border-radius: 50%;
  box-shadow: 2px 2px 4px 2px var(--fontColor);
}

.about-me {
  position: absolute;
  width: 100%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-me h1 {
  font-size: 28px;
  text-align: center;
  color: var(--fontColor);
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    -2px -2px 0 black, 2px 0px 0 black, 0px 2px 0 black, -2px 0px 0 black,
    0px -2px 0 black;
}

.about-me p {
  padding: 20px 10px;
  font-size: 20px;
  text-align: center;
  color: var(--fontColor);
  text-shadow: 2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    -2px -2px 0 black, 2px 0px 0 black, 0px 2px 0 black, -2px 0px 0 black,
    0px -2px 0 black;
}

.arrow {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: var(--fontColor);
  animation: arrowAnimation 1.5s infinite;
}

/* Section event */
.event {
  background-color: var(--bgColor);
  height: 100vh;
  width: 100%;
}

.logo img {
  width: 100%;
  max-height: 50vh;
}

.event-description h1 {
  text-align: center;
  font-size: 28px;
  margin: 20px 0;
}

.event-description p {
  text-align: justify;
  padding: 0 20px;
  line-height: 150%;
}

/* skills-container */

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  padding: 50px 0;
  background: #262626;
}

.center {
  width: 85%;
  padding: 20px;
  background-color: #333;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.center h1 {
  margin-bottom: 15px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.skill-box {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  flex-wrap: wrap;
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 10px;
  padding: 0;
  font-weight: 700;
  letter-spacing: 1px;
}

.skill {
  background: #262626;
  padding: 4px;
  border: 1px solid #0fffb7;
  border-radius: 2px;
  margin-bottom: 10px;
}

.skill-level {
  background: #0fffb7;
  width: 0;
  height: 10px;
}

.skill-level.html.on {
  animation: htmlBar 1s linear both;
}

.skill-level.css.on {
  animation: cssBar 1s linear both;
}

.skill-level.js.on {
  animation: jsBar 1s linear both;
}

/* project */
.projects {
  background-color: var(--bgColor);
  min-height: 100vh;
}

.projects h1 {
  text-align: center;
  padding: 40px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 24px;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  width: 80%;
  height: 50%;
  border: 2px solid black;
}

.overlay img {
  display: none;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.overlay {
  position: relative;
  width: 100%;
  height: 100%;
}

.link {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.link i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 72px;
}

.projects h3 {
  font-size: 24px;
  padding: 20px;
}
.overlay:hover .link {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

/* contact */

.contact {
  background-color: var(--bgColor2);
  padding: 30px 20px;
}

.contact h1 {
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: white;
  text-align: center;
}

.contact .wrap {
  padding-top: 20px;
}

.contact input,
.contact button,
.contact textarea {
  width: 100%;
  margin-bottom: 25px;
  font-family: saira, sans-serif;
  font-size: 12px;
  padding: 5px;
}

.contact input {
  height: 36px;
}

.contact textarea {
  height: 120px;
}

.contact button {
  font-size: 14px;
  line-height: 40px;
  background-color: #333;
  color: white;
  border: 2px solid white;
}

.social-link {
  font-size: 22px;
  color: white;
}

.social-link i span {
  margin-left: 20px;
}

/* footer */

footer {
  background-color: var(--bgColor);
  text-align: center;
}

footer p {
  padding: 20px 0;
}

.link-wrap {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.social a {
  color: white;
  padding: 0 10px;
  font-size: 36px;
  cursor: pointer;
}

@keyframes arrowAnimation {
  0% {
    transform: translateY(50%);
  }

  50% {
    transform: translateY(20%);
  }

  100% {
    transform: translateY(50%);
  }
}

@keyframes htmlBar {
  0% {
    width: 0;
  }

  100% {
    width: 90%;
  }
}

@keyframes cssBar {
  0% {
    width: 0;
  }

  100% {
    width: 85%;
  }
}

@keyframes jsBar {
  0% {
    width: 0;
  }

  100% {
    width: 20%;
  }
}
